<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login - El Faro Hotel</title>
    @Styles.Render("~/bundles/styles")
</head>
<body class="login">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="login-box-body">

            @RenderBody()

        </div>
        <!-- /.login-box-body -->
    </div>
</body>
</html>
