@model IEnumerable<FaroHotel.Models.Habitacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="x_panel">
        <div class="x_title">
            <h2 class="box-title">Listado de Habitaciones</h2>
            <div class="clearfix"></div>
        </div>
        <!-- /.box-header -->
        <div class="x_content">
            <!-- Button trigger modal -->
            <button type="button" style="margin-bottom: 15px;" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Habitaciones/Create', 'Agregar', 'Habitación')">
                <i class="fa fa-plus"></i> Nuevo
            </button>
            <table id="dtHabitaciones" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Hotel</th>
                        <th>Número de habitación</th>
                        <th>Piso</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoHotel.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Numero)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Piso)
                            </td>
                            <td>
                                <div class="btn-group-sm">                                    
                                    <span title="Editar" data-toggle="tooltip"><a class="btn btn-info fa fa-pencil-square-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Habitaciones/Edit/@item.ID','Editar','Habitación')"></a></span>
                                    @*<span title="Eliminar" data-toggle="tooltip"><a class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Paquetes/Delete/@item.ID','Eliminar','Paquetes')"></a></span>*@
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<script type="text/javascript">
    $(function () {
        $('#dtHabitaciones').DataTable({
            "responsive": true,
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "language": DataTableEsp(),
            responsive: true
        });
    });
</script>
