<style>
    .modal-dialog{
        width: 915px !important;
    }
    .col-md-20 {
        width: 20% !important;
        float: left !important;
        min-height: 1px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        position: relative !important;
    }

    .col-md-40 {
        width: 40% !important;
        float: left !important;
        min-height: 1px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        position: relative !important;
    }

    .nopadding {
        padding: 0px !important;
    }
    
    .seater {
        background-image: url(../img/4.png);
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        cursor: pointer;
        margin: 5px auto 0px auto;
    }

    .sseater {
        background-image: url(../img/5.png);
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        margin: 5px auto 0px auto;
    }
    
    .selectedseat {
        background-image: url(../img/6.png);
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        cursor: pointer;
        margin: 5px auto 0px auto;
    }
    
    .box-body col-md-6 layouts {
        width: 100%;
    }

    .asiento {
        width: 60px;
        text-align: center;
        float: left;
        padding: 10px;
        border: black 1px solid;
        margin-right: 5px;        
        background-color: white;
    }

    .asiento_vacio {
        width: 60px;
        height: 66px;
        text-align: center;
        float: left;
        padding: 10px;
        margin-right: 5px;
    }
    
    .busrow {
        float: left;
    }

    .busfloor {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        float: left;
        border: black 1px solid;
        background-color: lightgray;
    }

    .bushall{
        height:20px;
    }
</style>

<div class="row">
    <div class="x_panel">
        <div class="col-md-12" id="bus169">
            <div class="busfloor">
                <div class="busrow">
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="47" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>47</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="51" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>51</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="55" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>55</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="59" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>59</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="busrow">
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="48" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>48</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="52" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>52</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="56" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>56</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="60" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>60</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="bushall"></div>
                <div class="clearfix"></div>
                <div class="busrow">
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="49" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>49</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="53" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>53</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="57" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>57</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="61" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>61</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="busrow">
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="50" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>50</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="54" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>54</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="58" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>58</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="62" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>62</span>
                    </div>
                </div>
            </div>
            <div class="busfloor">
                <div class="busrow">
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="1" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>1</span>
                    </div>
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento_vacio fa fa-coffee fa-3x">
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="11" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>11</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="15" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>15</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="19" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>19</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="23" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>23</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="27" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>27</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="31" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>31</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="35" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>35</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="39" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>39</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="43" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>43</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="busrow">
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="2" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>1</span>
                    </div>
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento_vacio fa fa-coffee fa-3x">
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="12" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>12</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="16" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>16</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="20" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>20</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="24" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>24</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="28" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>28</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="32" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>32</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="36" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>36</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="40" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>40</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="44" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>44</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="bushall"></div>
                <div class="clearfix"></div>
                <div class="busrow">
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="3" data-bus="169" onclick="Selectedseat(this)" class="sseater"></div>
                        <span>3</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="5" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>5</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="7" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>7</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="13" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>13</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="17" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>17</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="21" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>21</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="25" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>25</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="29" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>29</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="33" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>33</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="37" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>37</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="41" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>41</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="45" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>45</span>
                    </div>


                </div>
                <div class="clearfix"></div>
                <div class="busrow">
                    <div class="asiento_vacio">
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="4" data-bus="169" onclick="Selectedseat(this)" class="sseater"></div>
                        <span>4</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="6" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>6</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="8" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>8</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="14" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>14</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="18" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>18</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="22" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>22</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="26" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>26</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="30" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>30</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="34" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>34</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="38" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>38</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="42" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>42</span>
                    </div>
                    <div class="asiento">
                        <div data-class="seater" data-rate="20" data-seat="46" data-bus="169" onclick="Selectedseat(this)" class="seater"></div>
                        <span>46</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                <div class="seat_arragement_inner1">
                    <div class="ac-lft-main">
                        <div class="ac-lft-list order">
                            <div class="order_cnct_detail"><img src="/img/6.png">  Asientos seleccionados: <span class="tb_fare seat_no"></span></div>
                            <input type="hidden" class="seat_nos" id="seat_nos169" value="">                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="clearfix"></div>

<script>
    function Selectedseat(elm) {
        var existB = $(elm).hasClass('sseater');
        var existB2 = $(elm).hasClass('sseater');

        if (existB != true || existB2 != true) {
            seat = $(elm).data("seat");
            bus = $(elm).data("bus");
            amount = $(elm).data("rate");
            classs = $(elm).data("class");
            //alert($( elm ).hasClass( classs ));
            if ($(elm).hasClass(classs)) {
                $(elm).removeClass(classs);
                if (classs == 'seater') {
                    $(elm).addClass('selectedseat');
                    $(elm).addClass('selecteds');
                } else {
                    $(elm).addClass('selectedsleeper');
                    $(elm).addClass('selecteds');
                }

            } else {
                $(elm).removeClass('selectedseat');
                $(elm).removeClass('selecteds');

                $(elm).removeClass('selectedsleeper');
                $(elm).addClass(classs);
            }
            var texts = $("#bus" + bus + " .selecteds").map(function () {
                return $(this).data("seat");
            }).get();

            if (texts.length > 6) {
                alert("A maximum of 6 Seats can be selected");
                $(elm).removeClass('selectedseat');
                $(elm).removeClass('selecteds');
                $(elm).removeClass('selectedsleeper');
            }

            var texts = $("#bus" + bus + " .selecteds").map(function () {
                return $(this).data("seat");
            }).get();
            $("#bus" + bus + " .seat_no").text(texts);
            $("#bus" + bus + " .seat_nos").text(texts);
        }
    }
</script>
