<div id="divStep3" class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Extras</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:10%">#</th>
                            <th style="width:40%">Extra</th>
                            <th style="width:40%">Cantidad</th>
                            <th style="width:10%">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Cochera en Faro II</td>
                            <td>asd</td>
                            <td>$333</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Vouchers</td>
                            <td>asd</td>
                            <td>$444</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Cuna</td>
                            <td>asd</td>
                            <td>$555</td>
                        </tr>
                    </tbody>
                </table>             
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Resumen de reserva</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="tablaPasajeros" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:10%">#</th>
                            <th style="width:40%">Pasajero</th>
                            <th style="width:40%">Paquete</th>
                            <th style="width:10%">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content" style="text-align: right; padding-right: 2vw;">
                <h2>TOTAL A PAGAR: $10000</h2>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="actionBar">
                    <span id="btnBackStep2" class="buttonPrevious btn btn-success">Atrás</span>
                    <span id="btnGoStep4" class="buttonNext btn btn-primary">Solicitar Reserva</span>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $('#btnBackStep2').click(function () {
        $('#Panel_Step3').fadeOut();
        $('#Panel_Step2').fadeIn();
        $('body').animate({ scrollTop: 0 }, 500);
        $('#wizard_step2').attr('class', 'selected');
        $('#wizard_step3').attr('class', 'disabled');
    });

    $(document).ready(function () {
        //Completar tablas
        //Tabla Pasajeros
        
        var ArrayPaxApellidoyNombre = [];
        var ArrayPaquetes = [];
        $(".PaxApellidoyNombre").each(function () { ArrayPaxApellidoyNombre.push($(this).val()); });
        $(".SelectPaquetesDisponibles option:selected").each(function () { ArrayPaquetes.push($(this).text()); });
        var d = '';
        for (var i = 0; i < ArrayPaxApellidoyNombre.length; i++) {
            d += '<tr>' +
            '<th scope="row">' + (i + 1) + '</th>' +
            '<td>' + ArrayPaxApellidoyNombre[i] + '</td>' +
            '<td>' + ArrayPaquetes[i] + '</td>' +
            '<td>$1000</td>' +
            '</tr>';
        }
        $("#tablaPasajeros tbody").append(d);
    });

    $('#btnGoStep4').click(function () {
        //HAGO RESERVA
        var ParamTipoHabitacionesIds = [];
        var ParamNroHabitacionesIds = [];
        var ParamPaxIds = [];
        var ParamPaquetesIds = [];
        var ParamBusIdaIds = [];
        var ParamAsientosIdaIds = [];
        var ParamBusVueltaIds = [];
        var ParamAsientosVueltaIds = [];
        
        $(".SelectTipoHabitacion").each(function () { ParamTipoHabitacionesIds.push($(this).val()); });
        $(".SelectNroHabitacion").each(function () { ParamNroHabitacionesIds.push($(this).val()); });
        $(".PaxIds").each(function () { ParamPaxIds.push($(this).val()); });
        $(".SelectPaquetesDisponibles").each(function () { ParamPaquetesIds.push($(this).val()); });
        $(".BusIdaIds").each(function () {
            if ($(this).val() == "") {
                ParamBusIdaIds.push("0");
            }
            else {
                ParamBusIdaIds.push($(this).val());
            }
        });
        $(".ButacaBusIda").each(function () {
            if ($(this).text() == "") {
                ParamAsientosIdaIds.push("0");
            }
            else {
                ParamAsientosIdaIds.push($(this).text());
            }
        });
        $(".BusVueltaIds").each(function () {
            if ($(this).val() == "") {
                ParamBusVueltaIds.push("0");
            }
            else {
                ParamBusVueltaIds.push($(this).val());
            }
        });
        $(".ButacaBusVuelta").each(function () {
            if ($(this).text() == "") {
                ParamAsientosVueltaIds.push("0");
            }
            else {
                ParamAsientosVueltaIds.push($(this).text());
            }
        });

        var _url = GetPathApp("/Reservas/Step4");        
        $.ajax({
            method: "POST",
            url: _url,
            data: {                
                ParamFecha: $('#FechaEntrada').val(),
                ParamHotelId: $('#DDL_Hotel option:selected').val(),
                ParamNochesId: $('#NochesId option:selected').text(),
                ParamTitularId: $('#PaxID_1').val(), //CAMBIAR POR EL CORRECTO
                ParamTipoHabitacionesIds: ParamTipoHabitacionesIds,
                ParamNroHabitacionesIds: ParamNroHabitacionesIds,
                ParamPasajerosIds: ParamPaxIds,
                ParamPaquetesIds: ParamPaquetesIds,
                ParamBusIdaIds: ParamBusIdaIds,
                ParamAsientosIdaIds: ParamAsientosIdaIds,
                ParamBusVueltaIds: ParamBusVueltaIds,
                ParamAsientosVueltaIds: ParamAsientosVueltaIds,
                __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val()
            },
            success: function (result) {
                $('#Panel_Step4').html(result);
            },
            error: function () {
                alert("Error al procesar la solicitud de reserva. Por favor contactese con el administrador");
            }
        });

        //PASO DE AGRADECIMIENTO
        //$('#Panel_Step3').fadeOut();
        $('#Panel_Step4').fadeIn();
        $('body').animate({ scrollTop: 0 }, 500);
        $('#wizard_step3').attr('class', 'done');
        $('#wizard_step4').attr('class', 'selected');
    });
</script>
