<div id="divStep2" class="row">

    <button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Pasajeros/Create', 'Agregar', 'Pasajeros')">
        <i class="fa fa-plus"></i> Nuevo Pasajero
    </button>
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Información de paquetes</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                Listado de paquetes disponibles para la fecha seleccionada
            </div>
        </div>
    </div>

    @for (var i = 0; i < ViewBag.CantPasajeros; i++)
    {
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Pasajero</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-horizontal">
                        <div class="form-group row">
                            <input id="PaxID" type="hidden" value="" />
                            <label class="control-label col-md-3" for="DNI">DNI:</label>
                            <div class="col-md-6">
                                <input id="PaxDNI_@i" class="form-control" />
                                @* @Html.DropDownList("TipoHabitacion", null, "", htmlAttributes: new { @id = "TipoHab", @class = "form-control" })*@
                            </div>
                            <div class="col-md-3">
                                <span id="btnSearchPax_@i" class="btn btn-dark btnSearchPax" data-boxId="@i">Buscar</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="Apellido">Apellido:</label>
                            <div class="col-md-9">
                                <input id="PaxSurname_@i" class="form-control" readonly="readonly" />
                                @*@Html.DropDownList("NumeroHabitacion", null, "", htmlAttributes: new { @class = "form-control" })*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="Nombre">Nombre:</label>
                            <div class="col-md-9">
                                <input id="PaxName_@i" class="form-control" readonly="readonly" />
                                @*@Html.DropDownList("NumeroHabitacion", null, "", htmlAttributes: new { @class = "form-control" })*@
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3" for="Paquete">Paquete:</label>
                            <div class="col-md-9">
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                @*@Html.DropDownList("NumeroHabitacion", null, "", htmlAttributes: new { @class = "form-control" })*@
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-12" for="Paquete">Bus de ida:</label>
                            <div class="col-md-6">
                                <span id="btnSelectSeat" class="btn btn-dark" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Reservas/Bus', 'Agregar', 'Asientos')">Seleccionar asiento</span>
                            </div>
                            <div class="col-md-6">
                                <span>Número de asiento: </span><span id="BusIda_@i" class="BusIda">15</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12" for="Paquete">Bus de vuelta:</label>
                            <div class="col-md-6">
                                <span id="btnSelectSeat" class="btn btn-dark">Seleccionar asiento</span>
                            </div>
                            <div class="col-md-6">
                                <span>Número de asiento: </span><span id="BusVuelta_@i" class="BusVuelta">15</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="actionBar">
                    <span id="btnBackStep1" class="buttonPrevious btn btn-success">Atrás</span>
                    <span id="btnGoStep3" class="buttonNext btn btn-primary">Siguiente</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#btnBackStep1').click(function () {
        $('#Panel_Step2').fadeOut();
        $('#divQuickSearch').fadeIn();
        $('#Panel_Step1').fadeIn();
        $('body').animate({ scrollTop: 0 }, 500);
        $('#wizard_step1').attr('class', 'selected');
        $('#wizard_step2').attr('class', 'disabled');
    });

    $('#btnGoStep3').click(function () {
        $('#Panel_Step2').fadeOut();
        $('#Panel_Step3').fadeIn();
        $('body').animate({ scrollTop: 0 }, 500);
        $('#wizard_step2').attr('class', 'done');
        $('#wizard_step3').attr('class', 'selected');

        var _url = GetPathApp("/Reservas/Step3");

        $.ajax({
            method: "POST",
            url: _url,
            data: { __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                $('#Panel_Step3').html(result);
            }
        });
    });


    $('.btnSearchPax').click(function () {
        var _url = GetPathApp("/Reservas/BuscarPax");
        var boxId = $(this).attr("data-boxId");
        $.ajax({
            method: "GET",
            url: _url,
            data: { paramDNI: $('#PaxDNI_' + boxId).val() },
            success: function (result) {
                if (result == "") {
                    alert("El pasajero no existe, por favor crearlo antes de continuar.");
                } else {
                    $('#PaxID_' + boxId).val(result[0].ID);
                    $('#PaxSurname_' + boxId).val(result[0].Apellido);
                    $('#PaxName_' + boxId).val(result[0].Nombre);
                }
            }
        });
    });


    
</script>
