
<div id="divStep1" class="row">

    <div class="col-md-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Habitaciones</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group row">
                        <label class="control-label col-md-4" for="TipoHabitacion">Tipo Habitación:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("TipoHabitacion", null, "", htmlAttributes: new { @id = "TipoHab", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-4" for="Numero">Número:</label>
                        <div class="col-md-8">
                            <select id="product" class="form-control"></select>
                            @*@Html.DropDownList("NumeroHabitacion", null, "", htmlAttributes: new { @class = "form-control" })*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Habitaciones</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group row">
                        <label class="control-label col-md-4" for="TipoHabitacion">Tipo Habitación:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("TipoHabitacion", null, "", htmlAttributes: new { @id = "TipoHab2", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-4" for="Numero">Número:</label>
                        <div class="col-md-8">
                            <select id="product2" class="form-control"></select>
                            @*@Html.DropDownList("NumeroHabitacion", null, "", htmlAttributes: new { @class = "form-control" })*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Habitaciones</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group row">
                        <label class="control-label col-md-4" for="TipoHabitacion">Tipo Habitación:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("TipoHabitacion", null, "", htmlAttributes: new { @id = "TipoHab", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-4" for="Numero">Número:</label>
                        <div class="col-md-8">
                            <select id="product" class="form-control"></select>
                            @*@Html.DropDownList("NumeroHabitacion", null, "", htmlAttributes: new { @class = "form-control" })*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Habitaciones</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group row">
                        <label class="control-label col-md-4" for="TipoHabitacion">Tipo Habitación:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("TipoHabitacion", null, "", htmlAttributes: new { @id = "TipoHab2", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-4" for="Numero">Número:</label>
                        <div class="col-md-8">
                            <select id="product2" class="form-control"></select>
                            @*@Html.DropDownList("NumeroHabitacion", null, "", htmlAttributes: new { @class = "form-control" })*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="actionBar">
                    <span id="btnBackStep0" class="buttonPrevious btn btn-success">Atrás</span>
                    <span id="btnGoStep2" class="buttonNext btn btn-primary">Siguiente</span>
                </div>
            </div>
        </div>
    </div>

</div>

    <script type="text/javascript">
        $(function () {
            $("#TipoHab").change(function () {
                var selectedItem = $(this).val();
                $('#product option').remove();
                $.getJSON('/Reservas/Habitaciones', { ParamTipoHabitacion: selectedItem }, function (data) {
                    console.log(data);
                    $.each(data, function () {
                        $('#product').append('<option value=' +
                          this.Value + '>' + this.Text + '</option>');
                    });
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Error getting products!');
                });
            });
            $("#TipoHab2").change(function () {
                var selectedItem = $(this).val();
                $('#product2 option').remove();
                $.getJSON('/Reservas/Habitaciones', { ParamTipoHabitacion: selectedItem }, function (data) {
                    console.log(data);
                    $.each(data, function () {
                        $('#product2').append('<option value=' +
                          this.Value + '>' + this.Text + '</option>');
                    });
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Error getting products!');
                });
            });
        });


        $('#btnGoStep2').click(function () {
            $('#Panel_Step1').fadeOut();
            $('#divQuickSearch').fadeOut();
            $('#Panel_Step2').fadeIn();
            $('body').animate({ scrollTop: 0 }, 500);
            $('#wizard_step1').attr('class', 'done');
            $('#wizard_step2').attr('class', 'selected');

            var _url = GetPathApp("/Reservas/Step2");

            $.ajax({
                method: "POST",
                url: _url,
                data: { NochesId: $('#NochesId option:selected').val(), __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() },
                success: function (result) {
                    $('#Panel_Step2').html(result);
                }
            });
        });
    </script>
