<div id="divStep3" class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Gracias por enviar la solicitud de reserva</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                La solicitud sera evaluada por el administrador, la reserva esta sujeta a cambios.
                <br />
                Su número de solicutud de reserva es: 123456
            </div>
        </div>
    </div>



    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="actionBar">
                    <span id="btnBackStep3" class="buttonPrevious btn btn-success">Atás</span>
                    <span id="btnBooking" class="buttonNext btn btn-primary">Salir</span>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $('#btnBackStep3').click(function () {
        $('#Panel_Step4').fadeOut();
        $('#Panel_Step3').fadeIn();
        $('body').animate({ scrollTop: 0 }, 500);
        $('#wizard_step3').attr('class', 'selected');
        $('#wizard_step4').attr('class', 'disabled');
    });

    //$('#btnGoStep3').click(function () {
    //    $('#Panel_Step3').fadeOut();
    //    $('#Panel_Step4').fadeIn();
    //    $('body').animate({ scrollTop: 0 }, 500);
    //    $('#wizard_step3').attr('class', 'done');
    //    $('#wizard_step4').attr('class', 'selected');

    //    var _url = GetPathApp("/Reservas/Step3");

    //    $.ajax({
    //        method: "POST",
    //        url: _url,
    //        data: { NochesId: $('#NochesId option:selected').val(), __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() },
    //        success: function (result) {
    //            $('#Panel_Step4').html(result);
    //        }
    //    });
    //});
</script>
