<div id="divStep3" class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Extras</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                Listado de extas
                <br />
                <br />
                Cochera en Faro II
                <br />
                Vouchers
                <br />
                Cuna
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Resumen de reserva</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="actionBar">
                    <span id="btnBackStep2" class="buttonPrevious btn btn-success">Atrás</span>
                    <span id="btnGoStep4" class="buttonNext btn btn-primary">Solicitar Reserva</span>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $('#btnBackStep2').click(function () {
        $('#Panel_Step3').fadeOut();
        $('#Panel_Step2').fadeIn();
        $('body').animate({ scrollTop: 0 }, 500);
        $('#wizard_step2').attr('class', 'selected');
        $('#wizard_step3').attr('class', 'disabled');
    });

    $('#btnGoStep4').click(function () {
        //HAGO RESERVA
        var ParamFecha = '';
        var ParamHotelId = '';
        var ParamNoches = '';
        var ParamTitularId = '';


        var ParamTipoHabitacionesIds = [];
        $(".SelectTipoHabitacion").each(function () {
            ParamTipoHabitacionesIds.push($(this).val());            
        });
        console.log(ParamTipoHabitacionesIds.join());

        var ParamNroHabitacionesIds = [];
        $(".SelectNroHabitacion").each(function () {
            ParamNroHabitacionesIds.push($(this).val());
        });
        console.log(ParamNroHabitacionesIds.join());

        var ParamPaxIds = [];
        $(".PaxIds").each(function () {
            ParamPaxIds.push($(this).val());
        });
        console.log(ParamPaxIds.join());

        var ParamPaquetesIds = [];
        $(".SelectPaquetes").each(function () {
            ParamPaquetesIds.push($(this).val());
        });
        console.log(ParamPaquetesIds.join());








        //PASO DE AGRADECIMIENTO
        $('#Panel_Step3').fadeOut();
        $('#Panel_Step4').fadeIn();
        $('body').animate({ scrollTop: 0 }, 500);
        $('#wizard_step3').attr('class', 'done');
        $('#wizard_step4').attr('class', 'selected');

        var _url = GetPathApp("/Reservas/Step4");

        $.ajax({
            method: "POST",
            url: _url,
            data: { __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                $('#Panel_Step4').html(result);
            }
        });
    });
</script>
