
<style>
    #formPago .form-group {
        margin-bottom: 0px;
    }

        #formPago .form-group input {
            text-align: right;
            width: 70%;
        }
</style>

<div id="divStep3" class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Extras</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:10%">#</th>
                            <th style="width:50%">Extra</th>
                            <th style="width:20%">Cantidad</th>
                            <th style="width:10%"></th>
                            <th style="width:10%">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Cochera en Faro II</td>
                            <td>
                                <select id="SelectCocheraFaroII" class="form-control">
                                    <option value="0" selected="selected">NO</option>
                                    <option value="1">SI</option>
                                </select>
                            </td>
                            <td></td>
                            <td><span id="TotalCocheraFaroII" class="colorGray currencyFormat">$ 0</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Vouchers</td>
                            <td>
                                <select id="SelectVouchers" class="form-control">
                                    <option value="0" selected="selected">NO</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                </select>
                            </td>
                            <td></td>
                            <td><span id="TotalVouchers" class="colorGray currencyFormat">$ 0</span></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Cuna</td>
                            <td>
                                <select id="SelectCunas" class="form-control">
                                    <option value="0" selected="selected">NO</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td></td>
                            <td><span id="TotalCunas" class="colorGray currencyFormat">$ 0</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content" style="text-align: right; padding-right: 2vw;">
                <h2>TOTAL A EXTRAS: <span id="TotalExtras"></span></h2>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Información de pasajeros</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="tablaPasajeros" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:10%">#</th>
                            <th style="width:35%">Pasajero</th>
                            <th style="width:30%">Paquete</th>
                            <th style="width:15%">Base</th>
                            <th style="width:20%">Total</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content" style="text-align: right; padding-right: 2vw;">
                <h2>TOTAL PAQUETES: <span id="TotalPaquetes" class="currencyFormat"></span></h2>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content" style="text-align: right; padding-right: 2vw;">
                <h2>TOTAL RESERVA: <span id="TotalReserva" class="currencyFormat"></span></h2>
            </div>
        </div>
    </div>


    <!--Formulario "Formas de Pago-->
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Forma de pago</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <!--Columna Izquierda-->
                    <div class="col-md-6">
                        <div class="row">
                            <div id="formPago" class="form-horizontal">

                                <!--ImporteTotalCuotas-->
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-6 control-label">Pago en Cuotas(Total):</label>
                                    <div class="col-sm-4 input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="text" class="form-control" id="ImporteTotalCuotas" value="0">
                                    </div>
                                </div>

                                <!--CantCuotas - ImporteCuotas-->
                                <div class="form-group">

                                    <label for="inputPassword3" class="col-sm-6 control-label">Cant. de Cuotas:</label>
                                    <input type="number" value="10" max="10" min="1" class="form-control col-sm-2" id="CantCuotas" style="width: 10%;">

                                    <label for="inputPassword3" class="col-sm-1 control-label" style="width: 35px;">de </label>
                                    <div class="col-sm-4 input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="text" class="form-control" id="ImporteCuotas" readonly>
                                    </div>

                                </div>

                                <!--ImporteContado-->
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-6 control-label">Pago de Contado:</label>
                                    <div class="col-sm-4 input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="text" class="form-control" id="ImporteContado" value="0" readonly>
                                    </div>
                                </div>

                                <!--ImporteBonificacion-->
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-6 control-label">Bonificacion pago de contado(5%):</label>
                                    <div class="col-sm-4 input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="text" class="form-control" id="ImporteBonificacion" readonly value="0">
                                    </div>
                                </div>
                                <hr />

                                <!--ImporteTotal-->
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-6 control-label">TOTAL:</label>
                                    <div class="col-sm-4 input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="text" class="form-control" id="ImporteTotal" readonly>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    @if (ViewBag.esUsuarioUdap)
                    {
                        <!--Columna Derecha-->
                        <div class="col-md-6">
                            <div class="row">
                                <div id="formPago" class="form-horizontal">

                                    <!--NroComprobantePago-->
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-5 control-label">Nro Comprobante de Pago:</label>
                                        <div class="col-sm-5 input-group">
                                            @*<div class="input-group-addon">$</div>*@
                                            <input type="text" class="form-control" id="NroComprobantePago" style="text-align:left">
                                        </div>
                                    </div>

                                    <!--NombreTitular-->
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-5 control-label">Nombre del Titular:</label>
                                        <div class="col-sm-5 input-group">
                                            @*<div class="input-group-addon">$</div>*@
                                            <input type="text" class="form-control" id="NombreTitular" style="text-align:left">
                                        </div>
                                    </div>

                                    <!--DniTitular-->
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-5 control-label">DNI del Titular:</label>
                                        <div class="col-sm-5 input-group">
                                            @*<div class="input-group-addon">$</div>*@
                                            <input type="text" class="form-control" id="DniTitular" style="text-align:left">
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    }

                    


                    

                </div>
            </div>


        </div>
    </div>


    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Observaciones de la reserva</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <textarea id="TextareaObservaciones" class="form-control" rows="5"></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="actionBar">
                    <span id="btnBackStep2" class="buttonPrevious btn btn-success">Atrás</span>
                    <span id="btnGoStep4" class="buttonNext btn btn-primary">Solicitar Reserva</span>
                </div>
            </div>
        </div>
    </div>
</div>


@*</div>*@
<script type="text/javascript">
    var SumTotalGlobal =0;
    $('#ImporteTotalCuotas').on('input', function() {
        this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
    });

    $('#btnBackStep2').click(function () {
        $('#Panel_Step3').fadeOut();
        $('#Panel_Step2').fadeIn();
        $("html, body").animate({ scrollTop: 0 }, 500);
        $('#wizard_step2').attr('class', 'selected');
        $('#wizard_step3').attr('class', 'disabled');
    });

    $(document).ready(function () {

        var nombreTitular =$('#PaxSurname_' + $('input[name=radioTitular]:checked').val()).val()+", "+$('#PaxName_' + $('input[name=radioTitular]:checked').val()).val();
        $('#NombreTitular').val(nombreTitular);

        var DNITitular =$('#PaxDNI_' + $('input[name=radioTitular]:checked').val()).val();
        $('#DniTitular').val(DNITitular);


        //Completar tablas
        //Tabla Pasajeros
        var ArrayPaxApellidoyNombre = [];
        var ArrayPaquetes = [];
        var ArrayBases = [];
        var ArrayPaxPrecios = [];
        $(".PaxApellidoyNombre").each(function () { ArrayPaxApellidoyNombre.push($(this).val()); });
        $(".SelectPaquetesDisponibles option:selected").each(function () { ArrayPaquetes.push($(this).text()); });
        $(".SelectBase option:selected").each(function () { ArrayBases.push($(this).text()); });
        $(".PaxPrice").each(function () { ArrayPaxPrecios.push($(this).val()); });
        var d = '';
        for (var i = 0; i < ArrayPaxApellidoyNombre.length; i++) {
            d += '<tr>' +
            '<th scope="row">' + (i + 1) + '</th>' +
            '<td>' + ArrayPaxApellidoyNombre[i] + '</td>' +
            '<td>' + ArrayPaquetes[i] + '</td>' +
            '<td>' + ArrayBases[i] + '</td>' +
            '<td class="currencyFormat">' + ArrayPaxPrecios[i] + '</td>' +
            '</tr>';
        }
        $("#tablaPasajeros tbody").append(d);
        calcularTotal();
    });

    $('#btnGoStep4').click(function () {
        debugger
        if(ValidarFormularioStep3()){
            openSpinner();
            //HAGO RESERVA
            var ParamTipoHabitacionesIds = [];
            var ParamHabitacionesIds = [];
            var ParamPaxIds = [];
            var ParamPaquetesIds = [];
            var ParamBaseIds = [];
            var ParamBusIdaIds = [];
            var ParamAsientosIdaIds = [];
            var ParamBusVueltaIds = [];
            var ParamAsientosVueltaIds = [];
            var ParamExtrasIds = [1,2,3];
            var ParamExtrasCantidad = [];

            $(".SelectTipoHabitacion").each(function () { ParamTipoHabitacionesIds.push($(this).val()); });
            $(".SelectNroHabitacion").each(function () { ParamHabitacionesIds.push($(this).val()); });
            $(".PaxIds").each(function () { ParamPaxIds.push($(this).val()); });
            $(".SelectPaquetesDisponibles").each(function () { ParamPaquetesIds.push($(this).val()); });
            $(".SelectBase").each(function () { ParamBaseIds.push($(this).val()); });
            $(".BusIdaIds").each(function () {
                if ($(this).val() == "") {
                    ParamBusIdaIds.push("0");
                }
                else {
                    ParamBusIdaIds.push($(this).val());
                }
            });
            $(".ButacaBusIda").each(function () {
                if ($(this).text() == "") {
                    ParamAsientosIdaIds.push("0");
                }
                else {
                    ParamAsientosIdaIds.push($(this).text());
                }
            });
            $(".BusVueltaIds").each(function () {
                if ($(this).val() == "") {
                    ParamBusVueltaIds.push("0");
                }
                else {
                    ParamBusVueltaIds.push($(this).val());
                }
            });
            $(".ButacaBusVuelta").each(function () {
                if ($(this).text() == "") {
                    ParamAsientosVueltaIds.push("0");
                }
                else {
                    ParamAsientosVueltaIds.push($(this).text());
                }
            });

            ParamExtrasCantidad.push($('#SelectVouchers option:selected').val());
            ParamExtrasCantidad.push($('#SelectCunas option:selected').val());
            ParamExtrasCantidad.push($('#SelectCocheraFaroII option:selected').val());


            var ParamImporteContado = parseFloat($('#ImporteContado').val());
            var ParamImporteBonificacion = parseFloat($('#ImporteBonificacion').val() * -1);
            var ParamImporteCuotas = parseFloat($('#ImporteCuotas').val());
            var ParamCantCuotas = $('#CantCuotas').val();

            var ParamNroComprobantePago = $('#NroComprobantePago').val();
            var ParamNombreTitular = $('#NombreTitular').val();
            var ParamDniTitular = $('#DniTitular').val();





            var _url = GetPathApp("/Reservas/Step4");
            $.ajax({
                method: "POST",
                contentType: "application/json; charset=utf-8",
                url: _url,
                data:JSON.stringify( {
                    ParamFecha: $('#FechaEntrada').val(),
                    ParamHotelId: $('#DDL_Hotel option:selected').val(),
                    ParamNochesId: $('#NochesId option:selected').text(),
                    ParamTitularId: $('#PaxID_' + $('input[name=radioTitular]:checked').val()).val(),
                    ParamTipoHabitacionesIds: ParamTipoHabitacionesIds,
                    ParamHabitacionesIds: ParamHabitacionesIds,
                    ParamPasajerosIds: ParamPaxIds,
                    ParamPaquetesIds: ParamPaquetesIds,
                    ParamBaseIds: ParamBaseIds,
                    ParamBusIdaIds: ParamBusIdaIds,
                    ParamAsientosIdaIds: ParamAsientosIdaIds,
                    ParamBusVueltaIds: ParamBusVueltaIds,
                    ParamAsientosVueltaIds: ParamAsientosVueltaIds,
                    ParamExtrasIds: ParamExtrasIds,
                    ParamExtrasCantidad: ParamExtrasCantidad,
                    ParamObservaciones: $('textarea#TextareaObservaciones').val(),
                    __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),

                    ParamImporteContado : ParamImporteContado,
                    ParamImporteBonificacion : ParamImporteBonificacion,
                    ParamImporteCuotas : ParamImporteCuotas,
                    ParamCantCuotas : ParamCantCuotas,

                    ParamNroComprobantePago : ParamNroComprobantePago,
                    ParamNombreTitular : ParamNombreTitular,
                    ParamDniTitular : ParamDniTitular
                }),
                success: function (result) {
                    $('#Panel_Step4').html(result);
                    closeSpinner();
                },
                error: function () {
                    alert("Error al procesar la solicitud de reserva. Por favor contactese con el administrador");
                }
            });

            //PASO DE AGRADECIMIENTO
            $('#Panel_Step3').fadeOut();
            $('#Panel_Step4').fadeIn();
            $("html, body").animate({ scrollTop: 0 }, 500);
            $('#wizard_step3').attr('class', 'done');
            $('#wizard_step4').attr('class', 'selected');
        }
    });


    $("#SelectCocheraFaroII").change(function () {
        var selectedItem = $(this).val();
        if (selectedItem > 0) {
            $('#TotalCocheraFaroII').attr('class', 'colorBlack');
            $('#TotalCocheraFaroII').text("$ " + $(this).val() * @ViewBag.PrecioCocheraFaroII);
        }
        else {
            $('#TotalCocheraFaroII').attr('class', 'colorGray');
            $('#TotalCocheraFaroII').text("$ 0");
        }
        calcularTotal();
    });
    $("#SelectVouchers").change(function () {
        var selectedItem = $(this).val();
        if (selectedItem > 0) {
            $('#TotalVouchers').attr('class', 'colorBlack');
            $('#TotalVouchers').text("$ " + $(this).val() * @ViewBag.PrecioVouchers);
        }
        else {
            $('#TotalVouchers').attr('class', 'colorGray');
            $('#TotalVouchers').text("$ 0");
        }
        calcularTotal();
    });
    $("#SelectCunas").change(function () {
        var selectedItem = $(this).val();
        if (selectedItem > 0) {
            $('#TotalCunas').attr('class', 'colorBlack');
            $('#TotalCunas').text("$ " + $(this).val() * @ViewBag.PrecioCuna);
        }
        else {
            $('#TotalCunas').attr('class', 'colorGray');
            $('#TotalCunas').text("$ 0");
        }
        calcularTotal();
    });

    function calcularTotal() {
        var SumTotal = 0;
        var TotalPaquetes = 0;
        var PrecioCochera = 0;
        var PrecioVouchers = 0
        var PrecioCunas = 0;
        var TotalExtras = 0
        var ArrayPaxPrecios = [];
        $(".PaxPrice").each(function () { ArrayPaxPrecios.push($(this).val()); });

        for (var i = 0; i < ArrayPaxPrecios.length; i++) {
            TotalPaquetes = TotalPaquetes + parseFloat(ArrayPaxPrecios[i].replace("$ ", ""));
        }

        PrecioCochera = parseFloat($('#TotalCocheraFaroII').text().replace("$ ", ""));
        PrecioVouchers = parseFloat($('#TotalVouchers').text().replace("$ ", ""));
        PrecioCunas = parseFloat($('#TotalCunas').text().replace("$ ", ""));

        TotalExtras = PrecioCochera + PrecioVouchers + PrecioCunas
        SumTotal = TotalPaquetes + TotalExtras;

        $("#TotalPaquetes").text("$ " + TotalPaquetes);
        $("#TotalExtras").text("$ " + TotalExtras);
        $("#TotalReserva").text("$ " + SumTotal);
        $("#TotalReservaContado").text("$ " + (SumTotal * 0.95));
        $("#TotalReservaCuotas").text("$ " + SumTotal / @ViewBag.cuotas);

        $(".currencyFormat").each(function(){
            $(this).text($(this).text().replace(".",",").replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1."));
        })

        SumTotalGlobal = SumTotal;
        calculaFormPago();
    }



    //
    //Funciones y eventos JS agregadas por Paulo Garcia
    //
    function calculaFormPago() {
        debugger

        var total = SumTotalGlobal;
        var importeTotalCuotas= total;

        if ( $("#ImporteTotalCuotas").val() == 0) {
            importeTotalCuotas= total;
        }
        else{
            if ( $("#ImporteTotalCuotas").val() != total)
                importeTotalCuotas = $("#ImporteTotalCuotas").val() ;
        }

        var importeContado=total - importeTotalCuotas;
        var importeBonificacion= (5 * importeContado)/100;
        var cantCuotas = $("#CantCuotas").val();


        $("#ImporteTotalCuotas").val(importeTotalCuotas);
        $("#ImporteCuotas").val(importeTotalCuotas/cantCuotas); //Falta el interes

        $("#ImporteContado").val(importeContado);
        $("#ImporteBonificacion").val(importeBonificacion * -1);
        $("#ImporteTotal").val(total-importeBonificacion);


        //Deprecated

        //var importeContado=$("#ImporteContado").val();
        //var cantCuotas = $("#CantCuotas").val();
        //var importeBonificacion= (5 * importeContado)/100;
        //var importeTotalCuotas= total - importeContado;


        //$("#ImporteTotal").val(total-importeBonificacion);
        //$("#ImporteBonificacion").val(importeBonificacion * -1);
        //$("#ImporteCuotas").val(importeTotalCuotas/cantCuotas); //Falta el interes

    }

    $("#CantCuotas").change(function () {
        calculaFormPago();//si no tengo el "total" a mano, envio cero... la funcion "calculaFormPago()" lo obtiene.
    });

    $("#ImporteTotalCuotas").change(function () {

        if ($("#ImporteTotalCuotas").val() > SumTotalGlobal) {
            $("#ImporteTotalCuotas").val(SumTotalGlobal);
        }

        calculaFormPago();//si no tengo el "total" a mano, envio cero... la funcion "calculaFormPago()" lo obtiene.
    });


    var BanValidaStep2 = false;
    function ValidarFormularioStep3() {
        var rslt = true;
        var selectedItem;
        $(".input-validation-error").removeClass("input-validation-error");
        $(".colorRed").removeClass("colorRed");

        $("#SelectFormaDePago").each(function () {
            selectedItem = $(this).val();
            if (selectedItem == 0) {
                rslt = false;
                $(this).addClass("input-validation-error");
            }
        });


        //ValidaFormPago
        @if (ViewBag.esUsuarioUdap)
        {
            <text>

            var ParamNroComprobantePago = $('#NroComprobantePago').val();
            if (!ParamNroComprobantePago || 0 === ParamNroComprobantePago.length) {
                rslt = false;
                $('#NroComprobantePago').addClass("input-validation-error");    
            }
        
            var ParamNombreTitular = $('#NombreTitular').val();
            if (!ParamNombreTitular || 0 === ParamNombreTitular.length) {
                rslt = false;
                //$('#NombreTitular').focus();
                $('#NombreTitular').addClass("input-validation-error");
            }

            var ParamDniTitular = $('#DniTitular').val();
            if (!ParamDniTitular || 0 === ParamDniTitular.length) {
                rslt = false;
                //$('#DniTitular').focus();
                $('#DniTitular').addClass("input-validation-error");
            }
            </text>
        }

        

        




        BanValidaStep2 = true;
        //$("html, body").animate({ scrollTop: 0 }, 500);
        return rslt;
    }
</script>
