
<div id="divStep1" class="row form-horizontal">
    @for (var i = 0; i < ViewBag.CantHabitaciones; i++)
    {

        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Habitación</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="TipoHabitacion">Tipo:</label>
                            <div class="col-md-9">
                                @Html.DropDownList("SelectTipoHabitacion", null, "", htmlAttributes: new { @id = "TipoHab_" + @i, @class = "form-control SelectTipoHabitacion", data_boxId = @i })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="Numero">Número:</label>
                            <div class="col-md-9">
                                <select id="SelectNumHabitacion_@i" class="form-control SelectNroHabitacion"></select>
                                @*@Html.DropDownList("NumeroHabitacion", null, "", htmlAttributes: new { @class = "form-control" })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="actionBar">
                    <span id="btnGoStep2" class="buttonNext btn btn-primary">Siguiente</span>
                </div>
            </div>
        </div>
    </div>

</div>

    <script type="text/javascript">
        $(".SelectTipoHabitacion").change(function () {
            var selectedItem = $(this).val();
            var boxId = $(this).attr("data-boxId");
            $('#SelectNumHabitacion_' + boxId + ' option').remove();

            var _url = GetPathApp("/Reservas/Habitaciones");
            $.ajax({
                method: "POST",
                url: _url,
                data: {
                    ParamFecha: $('#FechaEntrada').val(),
                    ParamHotelId: $('#DDL_Hotel option:selected').val(),
                    ParamTipoHabitacion: selectedItem,
                    __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val()
                },
                success: function (data) {
                    $.each(data, function () {
                        $('#SelectNumHabitacion_' + boxId).append('<option value=' +
                            this.ID + '>' + this.Numero + '</option>');
                    });
                }
            });
        });

        $('#btnGoStep2').click(function () {            
            if (ValidarFormularioStep1()) {
                $('#Panel_Step1').fadeOut();
                $('#divQuickSearch').fadeOut();
                $('#Panel_Step2').fadeIn();
                $('body').animate({ scrollTop: 0 }, 500);
                $('#wizard_step1').attr('class', 'done');
                $('#wizard_step2').attr('class', 'selected');
                var _url = GetPathApp("/Reservas/Step2");

                $.ajax({
                    method: "POST",
                    url: _url,
                    data: {
                        ParamFecha: $('#FechaEntrada').val(),
                        ParamNochesId: $('#NochesId option:selected').val(),
                        ParamHabitaciones: $('#DDL_Habitaciones option:selected').val(),
                        ParamPasajeros: $('#DDL_Pasajeros option:selected').val(),
                        __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val()
                    },
                    success: function (result) {
                        $('#Panel_Step2').html(result);
                    }
                });
            }            
        });

        var BanValidaStep1 = false;
        function ValidarFormularioStep1() {
            var rslt = true;
            var selectedItem;
            $(".input-validation-error").removeClass("input-validation-error");
            $(".SelectTipoHabitacion").each(function(){
                selectedItem = $(this).val();
                if (selectedItem == "") {
                    rslt = false;
                    $(this).addClass("input-validation-error");
                }
            });
            $(".SelectNroHabitacion").each(function () {
                selectedItem = $(this).val();
                if (selectedItem == null) {
                    rslt = false;
                    $(this).addClass("input-validation-error");
                }
            });
            BanValidaStep1 = true;
            return rslt;
        }

        $("#divStep1 .form-control").focusout(function () {
            if (BanValidaStep1) {
                ValidarFormularioStep1();
            }            
        });
    </script>

