
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form_wizard wizard_horizontal">
    <ul class="wizard_steps anchor">
        <li>
            <a id="wizard_step1" class="selected">
                <span class="step_no">1</span>
                <span class="step_descr">
                    Paso 1<br>
                    <small>Disponibilidad</small>
                </span>
            </a>
        </li>
        <li>
            <a id="wizard_step2" class="disabled">
                <span class="step_no">2</span>
                <span class="step_descr">
                    Paso 2<br>
                    <small>Datos de Pasajeros</small>
                </span>
            </a>
        </li>
        <li>
            <a id="wizard_step3" class="disabled">
                <span class="step_no">3</span>
                <span class="step_descr">
                    Paso 3<br>
                    <small>Adicionales y Resumen</small>
                </span>
            </a>
        </li>
        <li>
            <a id="wizard_step4" class="disabled">
                <span class="step_no">4</span>
                <span class="step_descr">
                    Paso 4<br>
                    <small>Solicitud de Reserva Enviada</small>
                </span>
            </a>
        </li>
    </ul>

</div>

<div id="divQuickSearch" class="row">
    <div class="col-md-12">
        <div class="x_panel">
            @using (Html.BeginForm("Buscar", "Reservas", FormMethod.Post, new { @id = "formBusqueda" }))
            {
                @Html.AntiForgeryToken()
                <div class="x_title">
                    <h2>Buscar Disponibilidad</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-2 col-sm-2 col-xs-12 form-horizontal">
                        <div class="form-group">
                            <input value="07/01/2018" class="form-control date-picker-sunday text-box single-line has-feedback-left" data-val="true" id="FechaEntrada" name="FechaEntrada" type="datetime">
                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <select name="DDL_Hotel" id="DDL_Hotel" class="form-control">
                                <option value="0">Hotel</option>
                                <option selected="selected" value="1">Faro I</option>
                                <option value="2">Faro II</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            @Html.DropDownList("NochesId", null, "Noches", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <select name="DDL_Habitaciones" id="DDL_Habitaciones" class="form-control">
                                <option value="0">Habitaciones</option>
                                <option selected="selected" value="1">1 Habitación</option>
                                <option value="2">2 Habitaciones</option>
                                <option value="3">3 Habitaciones</option>
                                <option value="4">4 Habitaciones</option>
                                <option value="5">5 Habitaciones</option>
                                <option value="6">6 Habitaciones</option>
                                <option value="7">7 Habitaciones</option>
                                <option value="8">8 Habitaciones</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <select name="DDL_Pasajeros" id="DDL_Pasajeros" class="form-control">
                                <option value="0">Personas</option>
                                <option selected="selected" value="1">1 Persona</option>
                                <option value="2">2 Personas</option>
                                <option value="3">3 Personas</option>
                                <option value="4">4 Personas</option>
                                <option value="5">5 Personas</option>
                                <option value="6">6 Personas</option>
                                <option value="7">7 Personas</option>
                                <option value="8">8 Personas</option>
                                <option value="9">9 Personas</option>
                                <option value="10">10 Personas</option>
                                <option value="11">11 Personas</option>
                                <option value="12">12 Personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group text-center">
                            <span id="btnBuscar" class="btn btn-primary">Buscar</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div ID="Panel_Step1"></div>
<div ID="Panel_Step2"></div>
<div ID="Panel_Step3"></div>
<div ID="Panel_Step4"></div>





<script type="text/javascript">
    $('#btnBuscar').click(function () {
        if (ValidarFormularioQuickSearch()) {
            var _url = GetPathApp("/Reservas/Buscar");
            $.ajax({
                method: "POST",
                url: _url,
                data: {
                    ParamFecha: $('#FechaEntrada').text(),
                    ParamNochesId: $('#NochesId option:selected').val(),
                    ParamHabitaciones: $('#DDL_Habitaciones option:selected').val(),
                    ParamPasajeros: $('#DDL_Pasajeros option:selected').val(),
                    __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val()
                },
                success: function (result) {
                    $('#Panel_Step1').html(result);
                }
            });
        }
    });
    $(document).ready(function () {       
        $('.date-picker-sunday').datepicker({
            firstDay: 0,
            minDate: +1,
            maxDate: '+1Y +6M',
            //beforeShowDay: function (date) {
            //    return [date.getDay() === 0, ''];
            //}
        });
    });

    var BanValidaQuickSearch = false;
    function ValidarFormularioQuickSearch() {
        var rslt = true;
        var selectedItem;
        $(".input-validation-error").removeClass("input-validation-error");
        if ($('#FechaEntrada').val() == "") {
            rslt = false;
            $('#FechaEntrada').addClass("input-validation-error");
        }
        if ($('#NochesId option:selected').val() == 0) {
            rslt = false;
            $('#NochesId').addClass("input-validation-error");
        }
        if ($('#DDL_Habitaciones option:selected').val() == 0) {
            rslt = false;
            $('#DDL_Habitaciones').addClass("input-validation-error");
        }
        if ($('#DDL_Pasajeros option:selected').val() == 0) {
            rslt = false;
            $('#DDL_Pasajeros').addClass("input-validation-error");
        }
        BanValidaQuickSearch = true;
        $("html, body").animate({ scrollTop: 0 }, 500);
        return rslt;
    }

    $("#divQuickSearch .form-control").focusout(function () {
        if (BanValidaQuickSearch) {
            ValidarFormularioQuickSearch();
        }
    });
</script>