@model IEnumerable<FaroHotel.Models.AspNetUsers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="x_panel">
        <div class="x_title">
            <h2 class="box-title">Listado de Usuarios</h2>
            <div class="clearfix"></div>
        </div>
        <!-- /.box-header -->
        <div class="x_content">
            <!-- Button trigger modal -->
            <button type="button" style="margin-bottom: 15px;" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Usuarios/Create','Agregar','Usuario')">
                <i class="fa fa-plus"></i> Nuevo
            </button>
            <table id="dtUsuarios" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                            <td>
                                <div class="btn-group-sm">
                                    <span title="Detalle" data-toggle="tooltip"><a class="btn btn-default fa fa-file-text-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Usuarios/Details/@item.Id','Detalle','Usuario')"></a></span>
                                    <span title="Editar" data-toggle="tooltip"><a class="btn btn-info fa fa-pencil-square-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Usuarios/Edit/@item.Id','Editar','Usuario')"></a></span>
                                    <span title="Cambiar Contraseña" data-toggle="tooltip"><a class="btn btn-success fa fa-unlock-alt" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Usuarios/ResetPassword/@item.Id','Cambiar Contraseña','Usuarios')"></a></span>
                                    @*<span title="Eliminar" data-toggle="tooltip"><a class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Usuarios/Delete/@item.Id','Eliminar','Usuario')"></a></span>*@
                                    <span title="Asignar Rol" data-toggle="tooltip"><a class="btn btn-dark fa fa-users" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Usuarios/SetRoles/@item.Id','Asignar','Roles')"></a></span>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<script type="text/javascript">
    $(function () {
        $('#dtUsuarios').DataTable({
            "responsive": true,
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "language": DataTableEsp(),
            responsive: true
        });
    });
</script>