@model FaroHotel.Models.AspNetUsers

@{
    Layout = null;
}


<div class="form-horizontal">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="control-label col-md-2 col-md-offset-1" for="TipodniID">Roles:</label>
        <div class="col-md-8">
            @Html.DropDownList("RolesID", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple", @style = "width:100%" })
        </div>
        @* </div> *@
    </div>

    @Html.HiddenFor(r=>r.Id)
}
</div>

<script>

    $(document).ready(function () {
        $("#RolesID").select2({
            theme: "classic",
            //placeholder: "Seleccione uno o mas Roles",
            //allowClear: true
        });

        var roles = [@foreach (var item in Model.AspNetRoles.Select(r => r.Name).ToArray()){<text>"@item",</text>}];
        


       $("#RolesID").val(roles).trigger("change");

    });



    //Click "Guardar"
    $("#btnGuardar").unbind("click");
    $("#btnGuardar").click(function () {
        
        $('#contenidoModal form').submit()
    });

    //Submit
    $('form').submit(function () {
        
        var _data = {
            __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
            userId: $("#Id").val(),
            roles: $("#RolesID").val()
        };



        if ($(this).valid()) {
            $.ajax({
                url: this.action,
                type: this.method,
                data: _data,
                beforeSend: function (xhr) {
                    abrirWaiting();
                },
                success: function (result) {
                    
                    cerrarWaiting();
                    if (result.ok) {
                        $('#contenProfesionales').html(result.data);
                        cerrarModal();
                        return;
                    }
                    $('#contenidoModal').html(result);
                },
                error: function () {
                    cerrarWaiting();
                }
            });
        }
        return false;
    });

</script>